<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mvp.paul.mvpshortstories" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mvp.paul.mvpshortstories.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mvp.paul.mvpshortstories.Splash"
            android:label="@string/title_activity_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mvp.paul.mvpshortstories.Mystery"
            android:label="@string/title_activity_mystery" >
        </activity>
        <activity
            android:name="com.mvp.paul.mvpshortstories.Horror"
            android:label="@string/title_activity_horror" >
        </activity>
        <activity
            android:name="com.mvp.paul.mvpshortstories.Fiction"
            android:label="@string/title_activity_fiction" >
        </activity>
    </application>

</manifest>
